name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # See http://static.azul.com/zulu/bin/ for available JDK versions.
        java: [8, 11, 14, 15-ea, 16-ea]
        os: [ubuntu-latest, macos-latest, windows-latest]
    name: Java ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: mvn -B verify
